.App {
  margin:  auto 50px;
}
.charts {
  
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.wraperString {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
}
.lineName {

}
.wrapperLine {
  width: 65%;
  background-color: rgb(226, 226, 226);
}
.line {
  text-align: center;
  background-color:rgb(79, 111, 148)
}